<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @item.name %> has been sold!</h1>
    <p>
    <h3><u>Item Information</u></h3>

    Name: <%= @item.name %><br/>
    Description: <%= @item.description %><br/>
    Minimum you would accept: <%= @item.min_accept_bid %><br/>
    Auction Until: <%= @item.closing_time %><br/>
    Sold for: <%= @bid.amount %><br/>
    Sold to: <%= @bid_user.username %><br/>
    </p>

    <p>
      Your account balance should have been updated with the winning bid amount. To check, login , If your account has not been updated, please reply to this email and we will get in contact with you ASAP.<br/>
    </p>

    <p>
    Now it's down to you, to mail the winning bidder the item. Below is the information which should be enough to mail the item.</p>
    <p>

    <h3><u>Bidders Contact Information:</u></h3>

    Email: <%= @bid_user.email %><br/>
    Username: <%= @bid_user.username %><br/>
    Full Address: <%= @bid_user.address %><br/>
    Street Number: <%= @bid_user.street_number %><br/>
    Postal Code: <%= @bid_user.postal_code %><br/>
    Country: <%= @bid_user.country %><br/>

    </p>
    <p>Thanks for being awesome and keep being awesome!</p>
    <p>Hope to see you soon!</p>
  </body>
</html>
