<h1><%= @item.name %></h1>
<p id="notice"><%= notice %></p>
Name: <%= @item.name %></br>
Description: <%= @item.description %></br>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
