<%= link_to 'Back', category_path(@category) %>

<div style="text-align: center">

  Closing Time: <%= @item.closing_time %><br/>
  Time now: <%= Time.now.getutc() %>

  <h1><%= @item.name %></h1>
  <p id="notice"><%= notice %></p>
  Name: <%= @item.name %><br/>
  Description: <%= @item.description %><br/>
  Minimum Acceptance Price: <%= @item.min_accept_bid %><br/>
  Starting Price: <%= @item.starting_price %><br/>
  Current Bid:  <span id="current_bid_amount">0</span>
  <span id="current_bid_user"></span>
  <br/>

  <b style="color: red">
    <div id="time">
    </div>
  </b>

  <hr/>
  <% if user_signed_in? %>
    <div id="item_bid">
      <%= render '/bids/form' %>
    </div>
  <% else %>
    You must be signed in to bid, <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %>
  <% end %>
</div>

<%= link_to 'Back', category_path(@category) %>
