<p id="notice"><%= notice %></p>
<% @items.each do |item| %>
  <p style="border: 1px solid">
  Name: <%= item.name %><br/>
  Description: <%= item.description %> <br/>
  link: <%= link_to 'show item', category_item_path(@category, item) %> <br/>
  Current Bids:  <%= item.highest_bid.price if item.highest_bid%><br/>
  <%= link_to 'Make a bid', new_category_item_bid_path(@category, item) %>

  </p>
  <hr/>
<% end %>
<p/>
<div>
  <p>
<%= link_to 'Edit this category', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</p>
</div>
