<div class="container-fluid">
  <div class="row-fluid">

    <p id="notice"><%= notice %></p>

    <div class="container-fluid">
      <div class="span8">
        <h3><%= @category.name.titleize %> Related Items</h3>

        <% @items.each_with_index do |item, i| %>
          <div class="container-fluid" style="border: 1px solid;" id="item_<%= item.id%>">

            <div class="span4" id="item_sold_<%= item.id %>">
              <h4><u><%= item.name.titleize %></u></h4>
              <!-- TODO:- Add image of item here. --> 
            </div>

            <div class="span8" style="padding: 10px; text-align: right;">
              Description: <%= item.description %> <br/>
              link: <%= link_to 'show item', category_item_path(@category, item) %> <br/>
              Minimum Acceptance Price: <%= item.min_accept_bid %><br/>
              Starting Price: <%= item.starting_price %><br/>
              Current Bid Amount: <span id="current_bid_amount_<%= item.id %>"></span><br/>

              <b style="color: red">
                <div id="time_left_<%= item.id %>">
                </div>
              </b>
              <hr/>

              <% if user_signed_in? %>
                <div id="item_bid_<%= item.id %>">
                  <% @item = item %>
                  <%= render '/bids/form' %>
                </div>
              <% else %>
                You must be a signed in to bid, <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %>
              <% end %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>

      <div class="span4">
        <%= render '/items/recently_sold' %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <%= link_to 'Auction Item', new_category_item_path(@category) %> |
    <%= link_to 'Edit this category', edit_category_path(@category) %> |
    <%= link_to 'Back', categories_path %>
  </div>
</div>
