<div style="text-align: center">


  <p id="notice"><%= notice %></p>

  <% @items.each_with_index do |item, i| %>
    <div style="border: 1px solid" id="item_<%= i %>">
      <% @item = item %>
      Name: <%= @item.name %><br/>
      Description: <%= @item.description %> <br/>
      link: <%= link_to 'show item', category_item_path(@category, item) %> <br/>
      Current Bids:  <%= @item.highest_bid ? @item.highest_bid.amount : '<b style="color: red">no bids</b>'.html_safe %><br/>
      <b style="color: red">
        <div id="time_<%= i %>">
        </div>
      </b>

      <%= link_to 'bid on this item', new_category_item_bid_path(@category, item), id: "item_bid_#{i}" %>

    </div>
    <hr/>


    <script type="text/javascript">
      setInterval(function() { if($('#time_<%= i %>').html() != "This Item Has Expired") {
          $.getScript("<%= @category %>.js"); } 
          else {
          $('#item_<%= i %>').fadeTo("slow", 0.33);
          $('#item_bid_<%= i %>').remove(); }
          },1000);
        </script>
      <% end %>

      <p/>

      <div>
        <%= link_to 'Auction Item', new_category_item_path(@category) %> |
        <%= link_to 'Edit this category', edit_category_path(@category) %> |
        <%= link_to 'Back', categories_path %>
      </div>
    </div>
