<p id="notice"><%= notice %></p>
<% @items.each do |item| %>
  <%= item.name %><br/>
  <%= item.description %>
<% end %>
<p/>
<div>
  <p>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</p>
</div>
